[submodule "pkg/prismlauncher"]
	path = pkg/prismlauncher
	url = https://aur.archlinux.org/prismlauncher.git
[submodule "pkg/xcursor-breeze"]
	path = pkg/xcursor-breeze
	url = https://aur.archlinux.org/xcursor-breeze.git
[submodule "pkg/1password"]
	path = pkg/1password
	url = https://aur.archlinux.org/1password.git
[submodule "pkg/xob"]
	path = pkg/xob
	url = https://aur.archlinux.org/xob.git
[submodule "pkg/python-pulsectl"]
	path = pkg/python-pulsectl
	url = https://aur.archlinux.org/python-pulsectl.git
[submodule "pkg/slack-desktop"]
	path = pkg/slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "pkg/heroku-cli"]
	path = pkg/heroku-cli
	url = https://aur.archlinux.org/heroku-cli.git
[submodule "pkg/mongodb-compass"]
	path = pkg/mongodb-compass
	url = https://aur.archlinux.org/mongodb-compass.git
[submodule "overskride"]
	path = pkg/overskride
	url = https://aur.archlinux.org/overskride.git
[submodule "pkg/python-validity"]
	path = pkg/python-validity
	url = https://aur.archlinux.org/python-validity.git
